<!-- <main id="top-menu">
  <nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-shrink">
    <div class="container">
      <a href="#topmenu"> start bootstrap</a>

    </div>

  </nav>
</main> -->

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" >Portofolio</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="nav-item"><a class="nav-link" class="glyphicon glyphicon-home" > Home</a>
            </li>
            <li class="nav-item"><a class="nav-link" class="glyphicon glyphicon-picture" > Gallery</a>
            </li>
            <li class="nav-item"><a class="nav-link" class="glyphicon glyphicon-wrench" >  Work/skills</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-inbox"></span> Email Me</a>
            </li>
          </ul>
        </div>
      </div>
</nav>
