#back {
background: url(../assets/bg-pattern.png),linear-gradient(to right, #e24a4a , purple);
}

#download {
  padding: 100px;
}

h3{
  font-weight: 300;
  color:white;
}
.badge-link {
  height: 60px;
  margin: 10px;
}

.section-heading {
margin: 10px;
font-weight: 350;
}

.section-text{
font-weight: 350;
}

.nav-item :hover{
color: yellow;
}

#features {
padding: 100px;
}

#getStarted {
background-image:  url(../assets/bg-cta.jpg);
background-size: cover;
background-position: center;
padding: 200px 0 200px 0;
}

.fa-heart {
  color: red;
}


.fa-twitter {
color: lightblue;
}

.fa-instagram {
color: rgb(255, 94, 0);
}

.fa-facebook-square {
color: blue;
}

.contact {
padding: 50px 0 50px 0;
}

.footersub {
  color: white;
}
